<header>
    <div class="nav-wrapper bg-primary text-light vw-75">
        <nav>
            <div class="nav-container">
            <ul class="main-ul">
                <li class="dropdown-container li-5">
                    <span class="title1">
                        <a href="/">
                            Inicio
                        </a>
                    </span>
                </li>
                <li class="dropdown-container li-2">
                    <span class="title2">
                        <a href="/infoEquipo">
                            Acerca de...
                        </a>
                    </span>
                </li>
                <li class="dropdown-container li-3">
                    <span class="title3">Docker
                        <span class="material-icons">
                            arrow_drop_down
                        </span>
                    </span>
                    <ul class="text-dark">
                        <li><a href="/introducciondocker">Introducción de Docker</a></li>
                        <li><a href="/imagenesdocker">Imágenes Docker</a></li>
                        <li><a href="/contenedores">Contenedores</a></li>
                        <li><a href="/archivodockerfile">Archivo Dockerfile</a></li>
                        <li><a href="/directivasdockerfile">Directivas Dockerfile</a></li>
                        <li><a href="/ciclodevida">Ciclo de vida de los contenedores</a></li>
                    </ul>
                </li>
                <li class="dropdown-container li-4">
                    <span class="title3">API REST
                        <span class="material-icons">
                        arrow_drop_down
                        </span>
                    </span>
                    <ul class="text-dark">
                        <li><a href="/smartphones">Smartphones</a></li>
                        <li><a href="/smartphones/nuevo-smartphone">Nuevo smartphone</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script src="/javascripts/header.js"></script>
