<div class="bg-dark">
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="text-warning bg-dark mx-auto my-0 text-uppercase">CICLO DE VIDA DE LOS CONTENEDORES</h1>

                <h2 class="text-white-50"> Un vistazo a el cico de vida de los contenedores</h2>
                <a class="btn btn-primary" href="#about">Comienza</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">el ciclo de vida de los contenedores docker</h2>
                <p class="text-white-50">
                    El ciclo de vida del contenedor son las diferentes etapas por las que recorre un contenedor Docker con distintos comandos. Comienza desde que hacemos la descarga desde Docker Hub hasta que es removido o eliminado

                </p>
            </div>
        </div>
        <img width="696px" height="435px" src="https://www.linuxteaching.com/storage/img/images_3/docker_container_statuses.png" alt="" >
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-info" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img width="696px" height="435px" src="" alt="" > </div>

            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>   </h4>
                    <p class="text-black-100 mb-0">Hay diferentes etapas cuando creamos un contenedor Docker que se conoce como ciclo de vida del contenedor Docker.

                        Un Algunos de los estados son:Creado: un contenedor que se ha creado pero no se ha iniciado,en ejecución: un contenedor en ejecución con todos sus procesos.En pausa: un contenedor cuyos procesos se han pausado.Detenido: Un contenedor cuyos procesos han sido detenidos.Eliminado: Un contenedor en estado muerto.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 ">
            <div><img width="1044px" height="400px" src="https://media-temporary.preziusercontent.com/frames-public/4/9/a/a/3/7f56982486f98e11184ed992e2f380.jpeg" alt="" ></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-light bg-dark">contenedores Docker</h4>
                            <p class="mb-0 text-white-10">Crear Contenedores:El uso del comando docker create creará un nuevo contenedor de Docker con la imagen de docker especificada.Contenedor de inicio: Para iniciar un contenedor detenido, podemos usar el comando docker start.Ejecutar contenedor: El comando docker run hará el trabajo de los comandos "docker create" y "docker start". Este comando creará un nuevo contenedor y ejecutará la imagen en el contenedor recién creado.Contenedor de pausa:Si queremos pausar los procesos que se ejecutan dentro del contenedor, podemos usar el comando “docker pause”.Contenedor en stop:Detener un Contenedor en ejecución significa detener todos los procesos que se ejecutan en ese Contenedor. Detener no significa matar o terminar el proceso.Eliminar contenedor:Eliminar o eliminar el contenedor significa destruir todos los procesos que se ejecutan dentro del contenedor y luego eliminar el Contenedor.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Nombre</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Carlos Alberto De jesus Velasco</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Correo Institucional</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">carlosdejesus370@aragon.unam.mx</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Número de cuenta</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">419107370</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; EQUIPO ING. SOFTWARE 2022</div></footer>



</div>
