
<h1>Ciclo de vida de los contenedores </h1>
<br><br>
<hr>
<p>Ciclo de vida de los contenedores <br>
  El ciclo de vida del contenedor son las diferentes etapas por las que recorre un contenedor Docker con distintos comandos. Comienza desde que hacemos la descarga desde Docker Hub hasta que es removido o eliminado<br>
  Hay diferentes etapas cuando creamos un contenedor Docker que se conoce como ciclo de vida del contenedor Docker. Algunos de los estados son:Creado: un contenedor que se ha creado pero no se ha iniciado,en ejecución: un contenedor en ejecución con todos sus procesos.
  en pausa: un contenedor cuyos procesos se han pausado,
  detenido: Un contenedor cuyos procesos han sido detenidos,
  Eliminado: Un contenedor en estado muerto.<br>
  Crear Contenedores:El uso del comando docker create creará un nuevo contenedor de Docker con la imagen de docker especificada.<br>
  Contenedor de inicio: Para iniciar un contenedor detenido, podemos usar el comando docker start.<br>
  Ejecutar contenedor: El comando docker run hará el trabajo de los comandos "docker create" y "docker start". Este comando creará un nuevo contenedor y ejecutará la imagen en el contenedor recién creado.<br>
  Contenedor de pausa:Si queremos pausar los procesos que se ejecutan dentro del contenedor, podemos usar el comando “docker pause”<br>
  Contenedor en stop:Detener un Contenedor en ejecución significa detener todos los procesos que se ejecutan en ese Contenedor. Detener no significa matar o terminar el proceso.<br>
  Eliminar contenedor:Eliminar o eliminar el contenedor significa destruir todos los procesos que se ejecutan dentro del contenedor y luego eliminar el Contenedor. Es preferible destruir el contenedor, solo si está detenido en lugar de destruir por la fuerza el contenedor en funcionamiento.<br>

</p>
<br> <hr>
