<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CONTENEDORES</title>
  </head>
  <body>
    <h1>CONTENEDORES</h1>
    <br><br>
    <hr>
    <p>Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario<br>
       para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución.<br>
       Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la<br>
       certeza de saber que su código se ejecutará.<br>
    <br>
       La ejecución de Docker en AWS les ofrece a desarrolladores y administradores una manera muy confiable y<br>
       económica de crear, enviar y ejecutar aplicaciones distribuidas en cualquier escala.<br>
 </p>
    <br> <hr>

  </body>
</html>
