<div class="container-fluid p-0 bg-light">

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
              <h1 class="display-1">
                  <span class="text-primary ">C O N T E</span>
                  <span class="text-warning">N E D O R E S</span>
              </h1>

            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-info mb-4">¿Qué son los contenedores?</h2>
                <p class="text-primary px-7">
                   Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario
                   para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución.
                   Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la
                   certeza de saber que su código se ejecutará.

                </p>
            </div>
        </div>
        <img width="696px" height="696px" src="https://pandorafms.com/blog/wp-content/uploads/2016/03/docker-cloud-logo.png" alt="" >
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-info" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img width="424px" height="313px" src="https://www.javiergarzas.com/wp-content/uploads/2015/07/docker1.png" alt="" > </div>

            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>   </h4>
                    <p class="text-black-100 mb-0"> La ejecución de Docker en AWS les ofrece a desarrolladores y administradores una manera muy confiable y
                     económica de crear, enviar y ejecutar aplicaciones distribuidas en cualquier escala </p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 ">
            <div><img width="1044px" height="400px" src="https://blog.carreralinux.com.ar/wp-content/uploads/2020/06/docker_imagenes_contenedores.png" alt="" ></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-light bg-dark">Docker como aislamiento</h4>
                            <p class="mb-0 text-white-10">Cada contenedor Docker tiene su propio sistema de archivos, su propia pila de red (y, por lo tanto, su propia dirección IP), su propio espacio de proceso y limitaciones de recursos definidas para la CPU y la memoria. Dado que un contenedor Docker no tiene que iniciar un sistema operativo, se inicia de inmediato. Docker es aislamiento, es decir, separa los recursos de un sistema operativo host, a diferencia de la virtualización que proporciona un sistema operativo invitado por encima del sistema operativo host.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Nombre</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Brandon Noé Roldan Granados</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Correo Institucional</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">brandonroldan88@aragon.unam.mx</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Número de cuenta</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">419100388</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; EQUIPO ING. SOFTWARE 2022</div></footer>



</div>