
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="text-warning bg-dark mx-auto my-0 text-uppercase">IMAGENES DE DOCKER</h1>

                <h2 class="text-white-50"> Un vistazo a lo que son las imagenes de docker</h2>
                <a class="btn btn-primary" href="#about">Comienza</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">DIRECTIVAS DOCKERFILE</h2>
                <p class="text-white-50">
                    Los Dockerfile son los archivos que contienen las instrucciones que crean las imagenes.<br>
                    Deben estar guardados dentro de un build context, es decir, un directorio. Este directorio es<br>
                    el que contiene todos los archivos necesarios para construir nuestra imagen, de ahí lo de build context. <br>

                </p>
            </div>
        </div>
        <img width="696px" height="435px" src="https://www.itsimplenow.com/construyendo-imagenes-personalizadas-en-docker-con-dockerfile/featured-image.jpeg" alt="" >
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-info" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img width="696px" height="435px" src="https://picodotdev.github.io/blog-bitix/assets/images/structured-data/docker-750.png" alt="" > </div>

            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>   </h4>
                    <p class="text-black-100 mb-0">Directiva-Explicación<br>
                      FROM: Indica la imagen base sobre la que se basa esta imagen <br>
                      COPY: Copia un archivo del build context y lo guarda en la imagen<br>
                      RUN: Ejecuta el comando indicado durante el proceso de creación de imagen.<br></p>
                </div>
            </div>
        </div>
      </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Nombre</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Diego Gerardo Almanza Maya</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Correo Institucional</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">diegoalmanza316@aragon.unam.mx</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Número de cuenta</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">316301662</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; EQUIPO ING. SOFTWARE 2022</div></footer>



</div>