
<h1>DIRECTIVAS DOCKERFILE</h1>
<br><br>
<hr>
<p>Los Dockerfile son los archivos que contienen las instrucciones que crean las imagenes.<br>
  Deben estar guardados dentro de un build context, es decir, un directorio. Este directorio es<br>
  el que contiene todos los archivos necesarios para construir nuestra imagen, de ahí lo de build context. <br>
  <br>
  Directiva-Explicación<br>
  FROM: Indica la imagen base sobre la que se basa esta imagen <br>
  COPY: Copia un archivo del build context y lo guarda en la imagen<br>
  RUN: Ejecuta el comando indicado durante el proceso de creación de imagen.<br>
</p>
<br> <hr>