<div class="bg-dark">
    <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">PROYECTO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>

    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">IMAGENES DE DOCKER </h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"> Un vistazo a lo que son las imagenes de docker</h2>
                <a class="btn btn-primary" href="#about">Comienza</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">¿Qué son las imágenes de Docker?</h2>
                <p class="text-white-50">
                    Las imagenes Docker son plantillas (que incluyen una aplicación, los binarios y las librerias necesarias) que se utilizan para construir contenedores Docker y ejecutarlos (los contenedores ejecutarán una imagen previamente compilada).

                </p>
            </div>
        </div>
        <img width="696px" height="435px" src="https://diarioinforme.com/wp-content/uploads/2021/01/Como-usar-Cron-con-sus-contenedores-Docker.jpeg" alt="" >
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-info" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img width="696px" height="435px" src="https://www.dataart.com.ar/media/2819742/news-docker2-big-1600x960.jpg" alt="" > </div>

            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>   </h4>
                    <p class="text-black-50 mb-0">También podemos decir que las imagenes Docker son instancias de un contenedor.

                        Un contenedor se inicia ejecutando una imagen. El archivo Dockerfile define una imagen, y por tanto cómo será el contenedor que se creará a partir de esa imagen.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div><img width="1044px" height="400px" src="https://d33wubrfki0l68.cloudfront.net/a0a25740941dd8f2d6f7f4fe9d20d3c9e9770dcd/41526/images/docker/flujo_de_construccion_de_imagenes_y_contenedores_en_docker.png" alt="" ></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Imagenes Publicas</h4>
                            <p class="mb-0 text-white-50">Hay muchas imágenes públicas con elementos básicos como Java, Ubuntu, Apache…etc, que se pueden descargar y utilizar. Normalmente cuando creas imágenes, partimos de una imagen padre a la que le vamos añadiendo cosas (p.e: una imagen padre con Ubuntu y Apache, que hemos modificado para instalar nuestra aplicación).</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
             <div class="col-xl-8 col-lg-7"><img width="696px" height="435px" src="https://fp.josedomingo.org/iawgs/u06/curso/img/docker2.png" alt="" > </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">  </h4>
                            <p class="mb-0 text-white-50">Un registro (local o remoto) en Docker contiene imágenes. Aquí tienes el registro público de Docker de donde puedes obtener la mayoría de las imágenes base que puedes necesitar.
                                Las imágenes se identifican por un ID, y un par nombre-versión, por ejemplo: ubuntu:latest, django:1.6, etc.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Nombre</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Samantha Aislinn Gutiérrez Olvera</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Correo Institucional</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">aislinngutierrez74@aragon.unam.mx</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Número de cuenta</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">316307774</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; EQUIPO ING. SOFTWARE 2022</div></footer>



</div>