
<h1>IMAGENES DE DOCKER</h1>
<br><br>
<hr>
<p>Las imágenes de Docker son esencialmente una instantánea de un contenedor. Un registro (local o remoto) en Docker contiene imágenes<br>
  Las imágenes se crean con el comando build, que crean un contenedor cuando se inicia con run. Una vez creada una imagen, se pueden almacenar en el Hub Docker <br>
  Las imágenes se utilizan para crear contenedores, y nunca cambian. <br>
  <br>
  Hay muchas imágenes públicas con elementos básicos como Java, Ubuntu, Apache…etc, que se pueden descargar y utilizar.<br>
  Normalmente cuando creas imágenes, partimos de una imagen padre a la que le vamos añadiendo cosas (p.e: una imagen padre con Ubuntu y Apache, <br>
  que hemos modificado para instalar nuestra aplicación).<br>
  .<br>
</p>
<br> <hr>
