<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendiendo</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--para que sirve el bosstrap-->

</head>
<body>
        <main class="container2 d-flex align-items-center justify-content-center vh-100">

            <div class="row">
                <!--columna izquierda-->
                <div class="col-12 border col-lg-12 ">
                    <div class="row">

                        <div class="col-12  col-lg-3 p-2">
                            <article class="card h-100 bg-primary">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex2-1.fna.fbcdn.net/v/t39.30808-6/235044409_861836281129069_8884488773796871629_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEQtS2sbdd1ai9YTot8YGm0F9fyIKxthPUX1_IgrG2E9dXd77jNYIVwPIneRCz5uav5pnXouomK7c0vc0zT9Bff&_nc_ohc=O8pQ7fyVhiEAX-WJFSn&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex2-1.fna&oh=00_AT8y_tyNWluWkZyqetwPfvdDpbTrLDhnmbGAM68mHIyXSw&oe=6296779D" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">Alan Marcos Jimenez Arce</h6>
                                            <p class="m-0">Cargo: Product Owner <br>
                                                Número de cuenta: 316044279 <br>
                                                Correo electrónico: alanarce79@aragon.unam.mx<br>
                                                Semestre: octavo semestre <br></p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12  col-lg-3 p-2 ">
                            <article class="card h-100 bg-danger">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t39.30808-6/263819614_5158938627454177_7149903376948668645_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH0x5w9Kwhxrgcd9xJ1HaoehuBnHRCHlW2G4GcdEIeVbU3JMGrPZTnQoDxTz2lLnTPNcuNXa9BL8caza08yBjfT&_nc_ohc=8zTPVnQgZQkAX94GnRR&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_n1nS7Typ9C04O0bVnINvEONVXwSUDu4SyPgCCdsvVZw&oe=6291B25E" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">Amauri Pineda Morales</h6>
                                            <p>Cargo: Scrum Master <br>
                                                Número de cuenta:<br> 316345459 <br>
                                                Correo electrónico:<br> amauripineda316<br>@aragon.unam.mx<br>
                                                Semestre: octavo semestre <br>
                                           </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12  col-lg-3 p-2 ">
                            <article class="card h-100 bg-primary">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex10-4.fna.fbcdn.net/v/t39.30808-6/278014373_1930207133838000_7364800653541765197_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGEwlTay9XI7UbZEJAb7fPj34v0xbe4kGHfi_TFt7iQYZscWqg9E6cte9f5T8V8W228MOn0iuJMwDaHl0fTGaD9&_nc_ohc=LWNJuiMVBmwAX-7W4d8&_nc_ht=scontent.fmex10-4.fna&oh=00_AT8gFXzuGifaL6wxaKJmVLzbr5keKMjSLzivgLvonYrSCQ&oe=6292143B" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">Almanza Maya Diego Gerardo</h6>
                                            <p>Cargo: Scrum Team <br>
                                                Número de cuenta:  <br>316301662 <br>
                                                Correo electrónico:<br> diegoalmanza316<br>@aragon.unam.mx<br>
                                                Semestre: octavo semestre <br>
                                             
                                             </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12  col-lg-3 p-2">
                            <article class="card h-100 bg-danger">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/59396104_2190536427725675_3711389568138739712_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHiB44xg0tJRFSVxA_hqRSqbHlAdby-hCRseUB1vL6EJDSviKaN05Kau06gbX58mzgG6QPKu7jF91_GVwPyYMiF&_nc_ohc=D7vZwiheYfEAX_5nuhr&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_p59xilvKulNKuP6uZTQsTz49Vfr3cInDnwKtwGGgznQ&oe=62B0BA2E" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">De Jesus Velasco Carlos Alberto</h6>
                                            <p>Cargo: Scrum Team <br>
                                                Número de cuenta: <br> 419107370 <br>
                                                Correo electrónico: <br> carlosdejesus370<br>@aragon.unam.mx<br>
                                                Semestre: octavo semestre <br>
                                          
                                              </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 border col-lg-3 p-2">
                            <article class="card h-100 bg-danger">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t39.30808-6/271165823_4826789417388772_4118279598005870786_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHPzolvAy6wUlFHJwdaDfx-ou-4QwCd16ii77hDAJ3XqJLcRZRU8mg6VARJGB0lzLA-x1FIVwcnjPfM-gw0X59U&_nc_ohc=mpiNtnBF9D0AX8spS7o&_nc_ht=scontent.fmex10-1.fna&oh=00_AT9AoODb7FyDNDmt-ILgBY-PbAp8XOV44KVKlYlgqezD6A&oe=6292246B" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">Lopez Villavicencio Jose Fernando</h6>
                                            <p>Cargo: Scrum Team <br>
                                                Número de cuenta: <br>316211156 <br>
                                                Correo electrónico:<br> fernandovillavicencio56<br>@aragon.unam.mx <br>
                                                Semestre: octavo semestre <br>
                                       
                                              </p>
                                       
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 border col-lg-3 p-2">
                            <article class="card h-100 bg-primary ">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img width="80px" height="80px" src="https://scontent.fmex10-3.fna.fbcdn.net/v/t1.6435-9/151208219_1622534747933785_5900718936891344221_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEAXjGrs8WpUaeQDeTsm_vlotRZpP2_0S2i1Fmk_b_RLdefPw0F4VxcgnnmoMi7PWgDg1dGvBT-bomoLfMCNJQl&_nc_ohc=euN0KOnM3D4AX81i8iz&_nc_ht=scontent.fmex10-3.fna&oh=00_AT8UQGJd-e68pUjwY1Rgbj62dwo-fGXtze5i02_SPc3Idg&oe=62B06771" alt="" class="border border-secundary border-3 rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0">Gutierrez Olvera Samantha Aislinn</h6>
                                            <p>Cargo: Scrum Team <br>
                                                Número de cuenta:<br> 316307774 <br>
                                                Correo electrónico: <br>aislinngutierrez74<br>@aragon.unam.mx <br>
                                                Semestre: octavo semestre <br>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-lg-3 p-2"> 
                        <article class="card h-100 bg-danger">
                            <div class="card-body">
                                <div class="d-flex mb-3">
                                    <img width="80px" height="80px" src="https://pbs.twimg.com/profile_images/1527207302931128320/wqZlSM7C_400x400.jpg"" alt="" class="border border-secundary border-3 rounded-circle">
                                    <div class="ps-3">
                                        <h6 class="m-0">Roldan Granados Brandon Noe</h6>
                                        <p>Cargo: Scrum Team <br>
                                            Número de cuenta:<br> 419100388 <br>
                                            Correo electrónico: Brandonroldan88<br>@aragon.unam.mx <br>
                                            Semestre: octavo semestre <br>
                                   
                                          </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-12 col-lg-3 p-2"> 
                        <article class="card h-100 bg-primary">
                            <div class="card-body">
                                <div class="d-flex mb-3">
                                    <img width="80px" height="80px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/172136781_5150195571717511_5645049312637682660_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGrlVoxx6gZd2noO5lbVjHG7UmaGbTKZK3tSZoZtMpkrX82JAr_0t8uENsOsqeVMlXm7qS-LcPjIdpvAssve5Yb&_nc_ohc=CK-1UayUcY4AX8St8Du&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_kI7P0n-So1voAwI3lb4lfyBMRZACq7mNpvuoXsQv17A&oe=62B245DB" alt="" class="border border-secundary border-3 rounded-circle">
                                    <div class="ps-3">
                                        <h6 class="m-0">Chavez Gallardo Daniel</h6>
                                        <p>Cargo: Scrum Team <br>
                                            Número de cuenta:<br> 316304096 <br>
                                            Correo electrónico: <br>danielchavez316<br>@aragon.unam.mx <br>
                                            Semestre: octavo semestre <br>
                                   
                                          </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>