<div class="container2 d-flex align-items-center justify-content-center ml-2">
  <div class="row text-light text-center">
    <!--columna izquierda-->
    <div class="col-12 col-lg-12 ">
      <div class="row">
        <div class="col-12  col-lg-3 p-2">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Alan.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Alan Marcos Jimenez Arce</h6>
                  <p class="m-0">Cargo: Product Owner <br>
                    Número de cuenta: 316044279 <br>
                    Correo electrónico: alanarce79@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2 ">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Amauri.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Amauri Pineda Morales</h6>
                  <p>Cargo: Scrum Master <br>
                    Número de cuenta:<br> 316345459 <br>
                    Correo electrónico:<br> amauripineda316<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2 ">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Diego.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Almanza Maya Diego Gerardo</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br>316301662 <br>
                    Correo electrónico:<br> diegoalmanza316<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Carlos.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">De Jesus Velasco Carlos Alberto</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br> 419107370 <br>
                    Correo electrónico: <br> carlosdejesus370<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Josfer.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Lopez Villavicencio Jose Fernando</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br>316211156 <br>
                    Correo electrónico:<br> fernandovillavicencio56<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-primary ">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Aislinn.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Gutierrez Olvera Samantha Aislinn</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 316307774 <br>
                    Correo electrónico: <br>aislinngutierrez74<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Brandon.jpg" alt=""
                  class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Roldan Granados Brandon Noe</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 419100388 <br>
                    Correo electrónico: Brandonroldan88<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="/images/Daniel.jpg"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Chavez Gallardo Daniel</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 316304096 <br>
                    Correo electrónico: <br>danielchavez316<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>