<div class="container2 d-flex align-items-center justify-content-center ml-2">
  <div class="row text-light text-center">
    <!--columna izquierda-->
    <div class="col-12 col-lg-12 ">
      <div class="row">
        <div class="col-12  col-lg-3 p-2">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex31-1.fna.fbcdn.net/v/t39.30808-6/235044409_861836281129069_8884488773796871629_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFujhCIymG8ff5lsitbk3raF9fyIKxthPUX1_IgrG2E9bbdIUR9KPm1FdRksDLSoxzwRcrxzCtM_7VefeugZTtV&_nc_ohc=9lG5gKHLNFIAX8mPVDZ&_nc_ht=scontent.fmex31-1.fna&oh=00_AT-NDf2WLf5TpwlukrHQGvQE72Okqrzhd66c1tjg066dTw&oe=629E609D"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Alan Marcos Jimenez Arce</h6>
                  <p class="m-0">Cargo: Product Owner <br>
                    Número de cuenta: 316044279 <br>
                    Correo electrónico: alanarce79@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2 ">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex31-1.fna.fbcdn.net/v/t39.30808-6/263819614_5158938627454177_7149903376948668645_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHFVHERRLaKoc2WR3wYls8dhuBnHRCHlW2G4GcdEIeVbeH552bu39tkuw6PpX_RkgGsIhtPd86ubUGCe8WySA3x&_nc_ohc=n_YulYH2Q28AX8iH_n3&_nc_ht=scontent.fmex31-1.fna&oh=00_AT_S1f8Lm-2KMcsxNW9zwbmaTa2n2xw707M_jVkNwuycuQ&oe=629F8A1E"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Amauri Pineda Morales</h6>
                  <p>Cargo: Scrum Master <br>
                    Número de cuenta:<br> 316345459 <br>
                    Correo electrónico:<br> amauripineda316<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2 ">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex31-1.fna.fbcdn.net/v/t39.30808-6/278014373_1930207133838000_7364800653541765197_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH5ZZWkWWjhJU9sAWG7dwor34v0xbe4kGHfi_TFt7iQYVNEDAeAG0N_SRpr2AafMk6MZucPkMNCaWc068q699RD&_nc_ohc=ODl342-ZEIgAX9EcLli&_nc_ht=scontent.fmex31-1.fna&oh=00_AT8D1JXtMhrUfiedzDk0c94Vv2BN6MCXKx3hxj-K77vvvQ&oe=629FEBFB"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Almanza Maya Diego Gerardo</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br>316301662 <br>
                    Correo electrónico:<br> diegoalmanza316<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12  col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/59396104_2190536427725675_3711389568138739712_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHiB44xg0tJRFSVxA_hqRSqbHlAdby-hCRseUB1vL6EJDSviKaN05Kau06gbX58mzgG6QPKu7jF91_GVwPyYMiF&_nc_ohc=D7vZwiheYfEAX_5nuhr&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_p59xilvKulNKuP6uZTQsTz49Vfr3cInDnwKtwGGgznQ&oe=62B0BA2E"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">De Jesus Velasco Carlos Alberto</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br> 419107370 <br>
                    Correo electrónico: <br> carlosdejesus370<br>@aragon.unam.mx<br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex31-1.fna.fbcdn.net/v/t39.30808-6/262183400_4713625868705128_2895788584604278422_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGeU-qoqW1UH1FDDn3CryPYrbO8psQO00Wts7ymxA7TRfg0djM_Wuz3mNY9k7cN7sQgx87wqkUvTenT2mtA4HQB&_nc_ohc=WpbfOqXK6_0AX86rq1b&_nc_oc=AQlJMHLG1tu2euPBWcn6rUdm2FzL9mUQz4YlP-9aH8YG6Jc-5vj76iA9ljrIr45mrtgFc0Z1Q86rzqukpFKCiFMY&_nc_ht=scontent.fmex31-1.fna&oh=00_AT-dBh4nzYyX1MRO1wX8u_7I_2VezkrowFnwIhyZhbgTEA&oe=62A011E8"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Lopez Villavicencio Jose Fernando</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta: <br>316211156 <br>
                    Correo electrónico:<br> fernandovillavicencio56<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-primary ">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex10-3.fna.fbcdn.net/v/t1.6435-9/151208219_1622534747933785_5900718936891344221_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEAXjGrs8WpUaeQDeTsm_vlotRZpP2_0S2i1Fmk_b_RLdefPw0F4VxcgnnmoMi7PWgDg1dGvBT-bomoLfMCNJQl&_nc_ohc=euN0KOnM3D4AX81i8iz&_nc_ht=scontent.fmex10-3.fna&oh=00_AT8UQGJd-e68pUjwY1Rgbj62dwo-fGXtze5i02_SPc3Idg&oe=62B06771"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Gutierrez Olvera Samantha Aislinn</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 316307774 <br>
                    Correo electrónico: <br>aislinngutierrez74<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-secondary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://pbs.twimg.com/profile_images/1527207302931128320/wqZlSM7C_400x400.jpg" alt=""
                  class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Roldan Granados Brandon Noe</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 419100388 <br>
                    Correo electrónico: Brandonroldan88<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-3 p-2">
          <article class="card h-100 bg-primary">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img width="80px" height="80px"
                  src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/172136781_5150195571717511_5645049312637682660_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGrlVoxx6gZd2noO5lbVjHG7UmaGbTKZK3tSZoZtMpkrX82JAr_0t8uENsOsqeVMlXm7qS-LcPjIdpvAssve5Yb&_nc_ohc=CK-1UayUcY4AX8St8Du&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_kI7P0n-So1voAwI3lb4lfyBMRZACq7mNpvuoXsQv17A&oe=62B245DB"
                  alt="" class="border border-secundary border-3 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0">Chavez Gallardo Daniel</h6>
                  <p>Cargo: Scrum Team <br>
                    Número de cuenta:<br> 316304096 <br>
                    Correo electrónico: <br>danielchavez316<br>@aragon.unam.mx <br>
                    Semestre: octavo semestre <br>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>