
<h1>Alan Marcos Jimenez Arce</h1>
<img width="200px" height="250px" src="https://scontent.fmex10-2.fna.fbcdn.net/v/t39.30808-6/235044409_861836281129069_8884488773796871629_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEQtS2sbdd1ai9YTot8YGm0F9fyIKxthPUX1_IgrG2E9dXd77jNYIVwPIneRCz5uav5pnXouomK7c0vc0zT9Bff&_nc_ohc=7Jz1ZFf4OXUAX8KkFqc&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-2.fna&oh=00_AT8fgGWaB-OZa3TqWql3i5xWMnX7f3WFhaV_yI-Gp9ONaA&oe=629088DD" alt=""/>
<br><br>
<hr>
<p>Cargo: Product Owner <br>
Número de cuenta: 316044279 <br>
Correo electrónico: alanarce79@aragon.unam.mx<br>
Semestre: octavo semestre <br>
</p>
<br> <hr>

<h1>Amauri Pineda Morales </h1>
<img width="200px" height="250px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t39.30808-6/263819614_5158938627454177_7149903376948668645_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH0x5w9Kwhxrgcd9xJ1HaoehuBnHRCHlW2G4GcdEIeVbU3JMGrPZTnQoDxTz2lLnTPNcuNXa9BL8caza08yBjfT&_nc_ohc=8zTPVnQgZQkAX94GnRR&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_n1nS7Typ9C04O0bVnINvEONVXwSUDu4SyPgCCdsvVZw&oe=6291B25E" alt=""/>
<br><br>
<hr>
<p>Cargo: Scrum Master <br>
Número de cuenta: 316345459 <br>
Correo electrónico: amauripineda316@aragon.unam.mx<br>
Semestre: octavo semestre <br>

</p>

<br> <hr>

<h1>Almanza Maya Diego Gerardo </h1>
<img width="200px" height="250px" src="https://scontent.fmex10-4.fna.fbcdn.net/v/t39.30808-6/278014373_1930207133838000_7364800653541765197_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGEwlTay9XI7UbZEJAb7fPj34v0xbe4kGHfi_TFt7iQYZscWqg9E6cte9f5T8V8W228MOn0iuJMwDaHl0fTGaD9&_nc_ohc=LWNJuiMVBmwAX-7W4d8&_nc_ht=scontent.fmex10-4.fna&oh=00_AT8gFXzuGifaL6wxaKJmVLzbr5keKMjSLzivgLvonYrSCQ&oe=6292143B" alt=""/>
<br><br>
<hr>
<p>Cargo: Scrum Team <br>
Número de cuenta:  316301662 <br>
Correo electrónico: diegoalmanza316@aragon.unam.mx<br>
Semestre: octavo semestre <br>

</p>
<br> <hr>
<br> <hr>

<h1>De Jesus Velasco Carlos Alberto </h1>
<img width="200px" height="250px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/59396104_2190536427725675_3711389568138739712_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHiB44xg0tJRFSVxA_hqRSqbHlAdby-hCRseUB1vL6EJDSviKaN05Kau06gbX58mzgG6QPKu7jF91_GVwPyYMiF&_nc_ohc=D7vZwiheYfEAX_5nuhr&tn=dHHM6PskF-35ioEQ&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_p59xilvKulNKuP6uZTQsTz49Vfr3cInDnwKtwGGgznQ&oe=62B0BA2E" alt=""/>
<br><br>
<hr>
<p>Cargo: Scrum Team <br>
Número de cuenta:  419107370 <br>
Correo electrónico:  carlosdejesus370@aragon.unam.mx<br>
Semestre: octavo semestre <br>

</p>
 <br> <hr>
 <br> <hr>

 <h1>Lopez Villavicencio Jose Fernando </h1>
 <img width="200px" height="250px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t39.30808-6/271165823_4826789417388772_4118279598005870786_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHPzolvAy6wUlFHJwdaDfx-ou-4QwCd16ii77hDAJ3XqJLcRZRU8mg6VARJGB0lzLA-x1FIVwcnjPfM-gw0X59U&_nc_ohc=mpiNtnBF9D0AX8spS7o&_nc_ht=scontent.fmex10-1.fna&oh=00_AT9AoODb7FyDNDmt-ILgBY-PbAp8XOV44KVKlYlgqezD6A&oe=6292246B" alt=""/>
 <br><br>
 <hr>
 <p>Cargo: Scrum Team <br>
   Número de cuenta: 316211156 <br>
   Correo electrónico: fernandovillavicencio56@aragon.unam.mx <br>
   Semestre: octavo semestre <br>

 </p>

 <br> <hr>
 <br> <hr>

 <h1>Gutierrez Olvera Samantha Aislinn </h1>
 <img width="200px" height="250px" src="https://scontent.fmex10-3.fna.fbcdn.net/v/t1.6435-9/151208219_1622534747933785_5900718936891344221_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEAXjGrs8WpUaeQDeTsm_vlotRZpP2_0S2i1Fmk_b_RLdefPw0F4VxcgnnmoMi7PWgDg1dGvBT-bomoLfMCNJQl&_nc_ohc=euN0KOnM3D4AX81i8iz&_nc_ht=scontent.fmex10-3.fna&oh=00_AT8UQGJd-e68pUjwY1Rgbj62dwo-fGXtze5i02_SPc3Idg&oe=62B06771" alt=""/>
 <br><br>
 <hr>
 <p>Cargo: Scrum Team <br>
   Número de cuenta: 316307774 <br>
   Correo electrónico: aislinngutierrez74@aragon.unam.mx <br>
   Semestre: octavo semestre <br>

 </p>
 <br> <hr>
 <br> <hr>

 <h1>Roldan Granados Brandon Noe </h1>
 <img width="200px" height="250px" src="https://pbs.twimg.com/profile_images/1527207302931128320/wqZlSM7C_400x400.jpg" alt=""/>
 <br><br>
 <hr>
 <p>Cargo: Scrum Team <br>
   Número de cuenta: 419100388 <br>
   Correo electrónico: Brandonroldan88@aragon.unam.mx <br>
   Semestre: octavo semestre <br>

 </p>

 <br> <hr>
 <br> <hr>

 <h1>Chavez Gallardo Daniel</h1>
 <img width="200px" height="250px" src="https://scontent.fmex10-1.fna.fbcdn.net/v/t1.6435-9/172136781_5150195571717511_5645049312637682660_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGrlVoxx6gZd2noO5lbVjHG7UmaGbTKZK3tSZoZtMpkrX82JAr_0t8uENsOsqeVMlXm7qS-LcPjIdpvAssve5Yb&_nc_ohc=CK-1UayUcY4AX8St8Du&_nc_ht=scontent.fmex10-1.fna&oh=00_AT_kI7P0n-So1voAwI3lb4lfyBMRZACq7mNpvuoXsQv17A&oe=62B245DB" alt=""/>
 <br><br>
 <hr>
 <p>Cargo: Scrum Team <br>
   Número de cuenta: 316304096 <br>
   Correo electrónico: danielchavez316@aragon.unam.mx <br>
   Semestre: octavo semestre <br>

 </p>
