<div class="display-4 text-center mb-5 mt-2 text-light">{{title}}</div>
<div class="container">
    {{#each smartphonesGrid}}
    <div class="row mb-5">
        {{> smartphone this}}
    </div>
    {{/each}}
</div>