body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  width: 20px;
}

button {
  border: none;
  background-color: var(--background-main);
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
  padding: 0px 20px;
  white-space: nowrap;
}
li:hover {
  cursor: pointer;
}

.nav-wrapper {
  color: var(--font-color);
}

.nav-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.nav-container .main-ul{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  gap: 30px;
}

.dropdown-container {
  position: relative;
}

.dropdown-container span {
  padding: 5px;
}

.dropdown-container span:hover {
  border-radius: 5px;
  background-color: var(--hover);
}

.dropdown-container ul {
  position: absolute;
  max-height: 0px;
  display: none;
  overflow: hidden;
  transition: 0.5s ease;
  background-color: var(--menu-background);
  border-radius: 5px;
  width: fit-content;
  box-shadow: 0 5px 30px 5px rgb(66 71 76 / 10%);
}

.show ul {
  display: block;
  max-height: 400px;
  top: 32px;
  border: 1px solid var(--menu-border);
  z-index: 100;
}

.material-icons {
  font-size: 16px !important;
  font-weight: bold !important;
}

.show li {
  padding: 12px 0px;
}

.show li:hover {
  background-color: var(--hover);
}

.active span{
  background-color: var(--hover);
  border-radius: 5px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.detailPage {
  height: calc(100vh - 47px);
  background-color: white;
}

.detailCard {
  border-radius: 12px;
  border: 1px solid #d2d2d7;
  margin: 20px 0;
}

.ul-dropdown li a {
  display: block;
  text-decoration: none;
}

.ul-dropdown li:hover{
  background-color: var(--secondary);
}
.ul-dropdown li:hover a {
  color: white;
}

.dropdown-container a:hover{
  color: #FFF;
  text-decoration: none;
}